<html>
	<head>
		<title>
		Dashboard
		</title>
	</head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		function send_act(i)
		{
			var cat=i.innerHTML;
			var form=document.getElementById("frm");

			var input=document.createElement("input");
			input.setAttribute("type","hidden");
			input.setAttribute("name","cat");
			input.setAttribute("value",cat);
			// input.setAttribute("visibility","none");
			form.appendChild(input);
			form.submit();
		}
		// function delete_act(i){
		// 		// alert(i.getAttribute("id"));
		// 		$.ajax({
		// 			type:'POST',
		// 			data:{'actId':i.getAttribute("id")},
		// 			url:'/delete',
		// 			dataType:'json',
		// 			success:function(data){window.location.reload();}
		// 		})
		// 	}
		
	</script>
	
	<body>
		<div align="center">
			<h1>SelfieLessActs</h1>
		</div>

		<table align="center"><tr><td align="center"><lable>Categories</lable></td></tr></table>
		{% for ele in result.act%}
			<table align="center">
				
				
						<tr align='center'>
							<td>"USERNAME"</td>
							<td>{{ele.username}}</td>
						</tr>

						<tr align='center'>
							<td>"IMAGE"</td>
							<td><img src="data:image/jpeg;base64,{{ele.imgB64}}" alt="failed to load  image" width="450" height="400"></td>
						</tr>
						<tr align='center'>
							<td>"TIME"</td>
							<td>{{ele.timestamp}}</td>
						</tr>
						<tr align='center'>
							<td>"CAPTION"</td>
							<td>{{ele.caption}}</td>
						</tr>
						<tr align='center'>
							<td id={{ele.actId}} style="color:red">"UPVOTE"</td>
							<td id="{{ele.actId}}val">{{ele.upvote}}</td>
						</tr>
						<tr align='center'>
							<td>"ACTID"</td>
							<td>{{ele.actId}}</td>
						</tr>
						<!-- <tr align="center">

							<td><form id=""><button style="color:red" onclick="delete_act(this)" id="{{ele.actId}}">DELETE</button></td>

						</tr>
 -->
				
			</table><br/>
		{% endfor %}
		
		
		
			<table align="center">
				<tr><td align="center"><h1><lable>Categories</lable></h1></td></tr>
				{% for key,value in result.cat.iteritems() %}
					<tr align='center'>
						<td>
						<form method='get' action='/list_acts' id='frm'>
							<span onclick="send_act(this)">{{key}}</span>
				
						</form>
						</td>
						
						<td>{{value}}</td>

					</tr>
				{% endfor %}
				
			</table>
			<br/>
			<form action="/upload_act" method="post" enctype="multipart/form-data" id="upload_form">
			<table align="center">
				<tr>
					<td align="center" colspan="2"><h1><lable>UPLOAD ACT</lable></h1></td>
				</tr>
				
					<tr>
						<td align="center">UPLOAD IMAGE</td>
						<td><input type="file" name="file"></td>
					</tr>
					<tr>
						<td align="center">CATEGORY</td><td><input type="text" name="category"></td>
					</tr>
					<tr>

						<td align="center">CAPTION</td>
						<td><textarea rows="4" cols="50" name="caption"></textarea></td>
					</tr>
					<tr><td align="center" colspan="2"><input type="submit"  value="submit"></td></tr>

					
				
			</table>
			</form>

			<br/>
			<form action="/upload_category" method="post">
				<table align="center">
					<tr>
						<td align="center" colspan="2"><h1><lable>UPLOAD CATEGORY</lable></h1></td>
					</tr>
					<tr>
						<td align="center">CATEGORY</td>
						<td><input type="text" name="category"></td>
					</tr>
					<tr>
						<td align="center" colspan="2"><input type="submit" value="submit"></td></tr> 
					</tr>
				</table>

				</table>
			</form>
		
		
		
	</body>
</html>